.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}
#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9 {
    border: 2px solid rgb(56, 116, 137);
    width: 100px;
    height: 100px;
    text-align: center;
    text-shadow: 3px 2px rgb(16, 215, 255);
    font-size: 4rem;
    padding-top: 15px;
    border-radius: 10px;
    color: rgb(23, 171, 182);
    background-color: rgb(27, 26, 26);
}
/* #box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9 :hover {
    background-color: black;
} */
#head {
    text-align: center;
    font-family: fantasy;
    color: rgb(218, 231, 243);
}
#restart {
    width: 25vw;
    height: 7vh;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(21, 214, 214);
    margin-left: 130px;
}
#restart:hover {
    background-color: aqua;
}
#restart:active {
    background-color: rgb(115, 254, 245);
}
#cover {
    justify-items: center;
}
#screen {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(179, 244, 205);
    margin-left: 140px;
}
body {
    background-color: rgb(5, 102, 126);
}
#gameface {
    display: none;
}
#butt {
    margin-left: 10px;
    margin-top: 7px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(21, 214, 214);
    height: 6vh;
}
#name1, #name2 {
    padding: 6px;
    /* color: rgb(23, 171, 182); */
    font-weight: bolder;
    width: 45vw;
    border-radius: 10px;
}
#names {
    display: flex;
    margin: 5px;
}
#status {
    color: rgb(22, 216, 255);
    font-family: cursive;
    text-shadow: 3px 2px 10px aquamarine;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    #name1, #name2 {
        padding: 6px;
        /* color: rgb(23, 171, 182); */
        font-weight: bolder;
        width: 20vw;
    }
    #butt {
        margin-left: 5px;
    }
    #restart {
        margin-left: 15px;
    }
}